@use "../abstracts/colors";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
$_nav-height: 4rem;
nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: colors.$black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: $_nav-height;

  a {
    color: colors.$white;
    font-family: "Barlow Condensed";
    font-size: 1.25rem;
    text-transform: uppercase;

    &.current {
      color: colors.$color-highlight;
    }
  }
}
