<div class="container-fluid">
  <form>
    <div class="row my-5">
      <div class="col-4">
        <label for="name">Name</label>
        <input type="text" id="name" />
      </div>

      <div class="col-4">
        <label for="Lastname">Lastname</label>
        <input type="text" id="Lastname" />
      </div>

      <div class="col-4">
        <label for="email">email</label>
        <input type="email" id="email" />
      </div>
    </div>
    <div class="row my-5">
      <div class="col-4">
        <label for="name">Name</label>
        <input type="text" id="name" />
      </div>

      <div class="col-4">
        <label for="Lastname">Lastname</label>
        <input type="text" id="Lastname" />
      </div>

      <div class="col-4">
        <label for="email">email</label>
        <input type="text" id="email" />
      </div>
    </div>
  </form>
</div>
