$light-gray: #f2f2f3;
$mid-gray: #c8cdd0;
$middark-gray: #a8adb0;
$dark-gray: #415058;
$neutral-gray: #333;
$black: #1f292e;
$white: #eff2f7;

$color-main: #2249a4;
$color-highlight: #a4bdf5;

$color-accent: #fffb7f;
$color-success: #a7dd3c;
$color-alert: #c83619;
