<section>
  <h1>Position: static, relative, absolute, fixed, sticky</h1>
  <button>HELLO</button>
  <header>HEADER</header>
  <main>
    <div>
      <article>
        <p>
          Exercitation sunt qui enim irure. Reprehenderit adipisicing sit
          voluptate laboris laborum. Nisi sit anim fugiat ipsum aute. In elit
          consequat ea commodo sint ad irure incididunt magna. Aute exercitation
          tempor nisi culpa occaecat labore esse non enim ipsum labore cillum
          nulla. Ipsum laboris irure et quis reprehenderit consequat.
        </p>

        <p>
          Amet ipsum sint dolor anim pariatur occaecat eiusmod est consequat
          dolor incididunt qui sunt. Elit laboris consequat consequat
          reprehenderit nulla incididunt id eiusmod dolor. Ut labore amet elit
          exercitation fugiat veniam. Officia nisi non ad eu non. Cupidatat
          nostrud deserunt aliquip commodo ex consectetur duis consequat. Quis
          quis id cillum mollit exercitation duis occaecat veniam nulla ipsum
          commodo ipsum id. Mollit consectetur Lorem ea dolore exercitation
          cillum quis.
        </p>

        <p>
          Proident esse sunt Lorem laboris proident duis irure consequat.
          Proident nisi officia consectetur ex exercitation qui. Cupidatat
          ullamco sit nisi eu. Ad ullamco eiusmod ullamco velit aliquip velit
          occaecat ex cupidatat ullamco fugiat.
        </p>

        <p>
          Labore consequat do et dolor deserunt voluptate nulla est. Ad do
          aliquip consequat commodo ullamco duis ex ex occaecat aute. Ipsum
          fugiat dolore consequat culpa duis quis voluptate laboris incididunt
          quis ipsum eiusmod.
        </p>

        <p>
          Nostrud nisi duis eu qui sit nostrud incididunt. Elit veniam sint
          nostrud aliquip voluptate magna sint tempor sunt. Incididunt
          exercitation cupidatat proident non culpa anim cupidatat cupidatat
          exercitation eu id duis Lorem ad. Cillum esse nulla esse magna.
        </p>
      </article>
      <article>
        <p>
          Exercitation sunt qui enim irure. Reprehenderit adipisicing sit
          voluptate laboris laborum. Nisi sit anim fugiat ipsum aute. In elit
          consequat ea commodo sint ad irure incididunt magna. Aute exercitation
          tempor nisi culpa occaecat labore esse non enim ipsum labore cillum
          nulla. Ipsum laboris irure et quis reprehenderit consequat.
        </p>

        <p>
          Amet ipsum sint dolor anim pariatur occaecat eiusmod est consequat
          dolor incididunt qui sunt. Elit laboris consequat consequat
          reprehenderit nulla incididunt id eiusmod dolor. Ut labore amet elit
          exercitation fugiat veniam. Officia nisi non ad eu non. Cupidatat
          nostrud deserunt aliquip commodo ex consectetur duis consequat. Quis
          quis id cillum mollit exercitation duis occaecat veniam nulla ipsum
          commodo ipsum id. Mollit consectetur Lorem ea dolore exercitation
          cillum quis.
        </p>

        <p>
          Proident esse sunt Lorem laboris proident duis irure consequat.
          Proident nisi officia consectetur ex exercitation qui. Cupidatat
          ullamco sit nisi eu. Ad ullamco eiusmod ullamco velit aliquip velit
          occaecat ex cupidatat ullamco fugiat.
        </p>

        <p>
          Labore consequat do et dolor deserunt voluptate nulla est. Ad do
          aliquip consequat commodo ullamco duis ex ex occaecat aute. Ipsum
          fugiat dolore consequat culpa duis quis voluptate laboris incididunt
          quis ipsum eiusmod.
        </p>

        <p>
          Nostrud nisi duis eu qui sit nostrud incididunt. Elit veniam sint
          nostrud aliquip voluptate magna sint tempor sunt. Incididunt
          exercitation cupidatat proident non culpa anim cupidatat cupidatat
          exercitation eu id duis Lorem ad. Cillum esse nulla esse magna.
        </p>
      </article>
      <article>
        <p>
          Exercitation sunt qui enim irure. Reprehenderit adipisicing sit
          voluptate laboris laborum. Nisi sit anim fugiat ipsum aute. In elit
          consequat ea commodo sint ad irure incididunt magna. Aute exercitation
          tempor nisi culpa occaecat labore esse non enim ipsum labore cillum
          nulla. Ipsum laboris irure et quis reprehenderit consequat.
        </p>

        <p>
          Amet ipsum sint dolor anim pariatur occaecat eiusmod est consequat
          dolor incididunt qui sunt. Elit laboris consequat consequat
          reprehenderit nulla incididunt id eiusmod dolor. Ut labore amet elit
          exercitation fugiat veniam. Officia nisi non ad eu non. Cupidatat
          nostrud deserunt aliquip commodo ex consectetur duis consequat. Quis
          quis id cillum mollit exercitation duis occaecat veniam nulla ipsum
          commodo ipsum id. Mollit consectetur Lorem ea dolore exercitation
          cillum quis.
        </p>

        <p>
          Proident esse sunt Lorem laboris proident duis irure consequat.
          Proident nisi officia consectetur ex exercitation qui. Cupidatat
          ullamco sit nisi eu. Ad ullamco eiusmod ullamco velit aliquip velit
          occaecat ex cupidatat ullamco fugiat.
        </p>

        <p>
          Labore consequat do et dolor deserunt voluptate nulla est. Ad do
          aliquip consequat commodo ullamco duis ex ex occaecat aute. Ipsum
          fugiat dolore consequat culpa duis quis voluptate laboris incididunt
          quis ipsum eiusmod.
        </p>

        <p>
          Nostrud nisi duis eu qui sit nostrud incididunt. Elit veniam sint
          nostrud aliquip voluptate magna sint tempor sunt. Incididunt
          exercitation cupidatat proident non culpa anim cupidatat cupidatat
          exercitation eu id duis Lorem ad. Cillum esse nulla esse magna.
        </p>
      </article>
    </div>
    <aside>
      <span> SIDEBAR </span>
    </aside>
  </main>
  <footer>FOOTER</footer>
</section>
