@use "../abstracts/colors";
section {
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: colors.$light-gray;
  padding: 1rem;
  &:focus-within {
    outline: 2px dotted colors.$mid-gray;
  }
}

button {
  outline: 2px solid colors.$color-main;
  outline-offset: -2px;
  margin: 1.5rem;
  padding: 0.5rem 1.5rem;
}

button:hover {
  box-shadow: 0 1px 1px 1px colors.$dark-gray;
}

button:focus,
button:active {
  outline: 0.25rem solid colors.$color-highlight;
}

button:active {
  box-shadow: 0 1px 1px 2px colors.$dark-gray;
}

header {
  box-shadow: 1.5rem 1rem 1.5rem colors.$dark-gray;
  background-color: colors.$color-main;
  color: colors.$white;
  display: flex;
  align-items: center;
  height: 3rem;
}

main {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 2rem;
}

aside {
  border: 0.25rem solid purple;
  outline: 0.5rem dashed pink;

  background-color: yellow;

  span {
    position: sticky;
    top: var(--nav-height);
    padding: 1.5rem;
  }
}

footer {
  background-color: colors.$light-gray;
  height: 5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}
